section.cta
    .cta__container
        .cta__wrapper
            .cta__img
                img(src="./img/cta/cta-bg.png", alt="Quiz")
            .cta__text
                h3.cta__text-category New
                h2.cta__text-title Does Anti-money Laundering affect you?
                p.cta__text-desc A short, interactive quiz to check if your art business is affected by 5AMLD regulation.
                a(href="#" data-cta-button).cta__text-btn Take the Quiz 