section.form
    .form__container
        .form__wrapper
            .form__image
                img(src="./img/form/form-image.png", alt="Form" data-form-image)
            form.form__field
                h2.form__field-title Art world insight.
                p.form__field-desc Receive our newsletter direct to your inbox to follow updates to legislation and the EU art-market's response.
                .form__field-action
                    input(type="email" placeholder="Your email" data-email-input).form-input
                    button(type="submit" data-email-btn).form-btn
                        img(src="./img/form/button.svg", alt="btn")