section.home
    .home__container
        .home__wrapper
            .home__caption
                .home__caption-category
                    .category-event
                        |New
                    .category-title
                        h3 The Art Market Report
                .home__caption-text
                    h1 Rely on us
                    p Our Customer Due Diligence platform helps you avoid fines or losing clients due to AML while protecting you from cybercrime.
                a(href="#" data-home-learnMore).home__caption-button Learn More 
            .home-sponsors
                .sponsors__container
                    ul.sponsors__inner
                        img(src="./img/home/sponsors/colnaghi.svg", alt="Sponsor")
                        img(src="./img/home/sponsors/luxemburg.svg", alt="Sponsor")
                        img(src="./img/home/sponsors/tomasso.svg", alt="Sponsor")
                        img(src="./img/home/sponsors/cristea.svg", alt="Sponsor")
            a(href="#offers" data-continueLink).home-continueLink What is arcarta? 
                img(src="./img/home/continueLiink-after.png", alt="Link")