section.offers#offers
    .offers__container
        .offers__list
            .offers-list__item
                .offers__item-img
                    img(src="./img/offers/01.png", alt="Offer")
                .offers__item-text
                    h3 For Art Dealers
                    p Galleries and independent art dealers
                button(data-offer-button).offers__item-btn Learn More
            .offers-list__item
                .offers__item-img
                    img(src="./img/offers/02.png", alt="Offer")
                .offers__item-text
                    h3 For Advisors
                    p Advisors, agents and consultants
                button(data-offer-button).offers__item-btn Learn More
            .offers-list__item
                .offers__item-img
                    img(src="./img/offers/03.png", alt="Offer")
                .offers__item-text
                    h3 For Auctioneers
                    p Online and offline auctioneers
                button(data-offer-button).offers__item-btn Learn More
            .offers-list__item
                .offers__item-img
                    img(src="./img/offers/04.png", alt="Offer")
                .offers__item-text
                    h3 For Buyers & Collectors
                    p Receiving Invoices, making card payments and sending your ID and address documents
                button(data-offer-button).offers__item-btn Learn More